.app-container {
    display: flex;
    min-height: 100vh;
}

.navbar {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 80px;
    background-color: #1a1a1a;
    z-index: 100;
}

.main-content {
    margin-left: 80px;
    padding: 80px; /** Adjust for the fixed navbar height **/
    flex: 1;
    overflow-y: auto;
}

.subtitle {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #aaa;
}

/* Mobile styles */
@media (max-width: 1024px) {
    .app-container {
        flex-direction: column;  /* Stack vertically */
    }

    .navbar {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;       /* Full width */
        height: 80px;      /* Fixed height */
        z-index: 100;
    }

    .main-content {
        margin-left: 0;        /* Remove left margin */
        margin-top: 80px;      /* Add top margin for navbar */
        padding: 20px 10px;    /* Less padding on mobile - TODO: Update Later */
    }
}