.add-card-page {
    background-color: #222222;
    color: white;
    margin-left: 80px;
    padding: 80px;
}

.field-input {
    resize: none;
    background-color: #303236;
    color: white;
    border-width: 0;
}

.field-input:focus {
    outline: solid rgb(231, 231, 231) 1px;
}

button {
    background-color: #303236;
    color: white;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    margin: 2px;
    transition: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

button:hover {
    background-color: #303236;
}

button .material-symbols-outlined {
  font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
    color: white;
    font-size: 16px;
    pointer-events: none;
}

.editor-format-controls {
    display: flex;
    justify-content: left;
    align-content: center;
}
