.card-builder-page {
    background-color: #222222;
    color: white;
    margin-left: 80px;
    padding: 80px;
}

.card-input {
    background-color: #303236;
    color: white;
    resize: none;
    width: 50%;
    border-width: 0;
}

body {
    margin: 0px;
    background-color: #222222;
}

.page-title {
    margin: 0;
}

.card-builder {
    display: flex;
    gap: 1%;
}

.card-preview {
    display: flex; 
    justify-content: center;
    align-content: center;
    flex-direction: column;
    width: 1000px;

}

