.home-page {
    background-color: #222222;
    color: white;
    margin-left: 80px;
    padding: 80px;
}

.home-page-container {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-areas:'welcome cards-due quick-actions'
                        'heatmap card-piechart quick-actions';
    grid-template-rows: auto auto;
    gap: 20px;
}
.welcome {
    grid-area: welcome;
    background-color: red;
    padding: 30px;
    border-radius: 12px;
    min-height: 150px;
}

.study-progress {
    grid-area: cards-due;
    /* background-color: blue;
    padding: 30px;
    border-radius: 12px;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center; */
    min-height: 200px;
}

.weekly-activity {
    grid-area: heatmap;
    /* background-color: green;
    padding: 30px;
    border-radius: 12px; */
    min-height: 260px;
}

.quick-actions {
    grid-area: quick-actions;
    /* background-color: rgb(96, 166, 177);
    padding: 30px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; */
}

.mastery-distribution {
    grid-area: card-piechart;
    /* background-color: purple;
    padding: 30px;
    border-radius: 12px;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center; */
}